input[type="range"] {
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    width: 100%;
    height: 1px; /* Slider height */
    background: #ddd; /* Track background color */
    outline: none; /* Remove the outline */
    border-radius: 5px; /* Round the track corners */
    padding: 2px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #08d144; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%; /* Round the thumb */
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #22e972; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%; /* Round the thumb */
  }

  input[type="range"]::-ms-thumb {
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #22e972; /* Thumb color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 50%; /* Round the thumb */
  }